// Texts.
$text-primary: rgba(0, 0, 0, .87);
$text-secondary: rgba(0, 0, 0, .54);
$text-hint: rgba(0, 0, 0, .38);
$text-primary-white: white;
$text-secondary-white: rgba(255, 255, 255, .7);
$text-hint-white: rgba(255, 255, 255, .30);
