# General extensions.
*.swp
*.cson

# Javascript.
.jshintrc
node_modules/
bower_components/

# Intermediates.
_components/

# Security.
.zsecure
.env

# Testing.
coverage/
reports/
selenium-debug.log

# Distribution.
public/

# Misc.
colony/
